
/rnn/.spyproject
/rnn/common/__pycache__
/rnn/common/__pycache__
/rnn/results_MMPose2D_HannahMartin
/rnn/results_MMPose3D_HannahMartin
/rnn/results_XSens_Muriel_EmbodiedMachineVariations
/rnn/results_ZED_Daniel_Solo
/rnn_interactive/.spyproject
/rnn_interactive/__pycache__
/rnn_interactive/common/__pycache__
/rnn_interactive/common/__pycache__
/rnn_interactive/common/__pycache__
/rnn/common/__pycache__
/rnn/common/__pycache__
rnn/common/__pycache__/mocap_tools.cpython-310.pyc
rnn/common/__pycache__/pose_renderer.cpython-310.pyc
rnn/common/__pycache__/quaternion.cpython-310.pyc
/rnn_interactive/common/__pycache__
/rnn_interactive_live_mocap/.spyproject
/rnn_interactive_live_mocap/__pycache__
/rnn_interactive_live_mocap/common/__pycache__
/rnn_interactive_pos/.spyproject
/rnn_interactive_pos/__pycache__
/rnn_interactive_pos/common/__pycache__
/rnn/common/__pycache__
/rnn_interactive/common/__pycache__
/rnn/results_Qualisys_Muriel_Polytopia
/rnn/results
/rnn/results_Captury_Zach_Improvisation
