
/rnn/.spyproject
/rnn/common/__pycache__
/rnn/common/__pycache__
/rnn/results_MMPose2D_HannahMartin
/rnn/results_MMPose3D_HannahMartin
/rnn/results_XSens_Muriel_EmbodiedMachineVariations
/rnn/results_ZED_Daniel_Solo
/rnn_interactive/.spyproject
/rnn_interactive/__pycache__
/rnn_interactive/common/__pycache__
/rnn_interactive/common/__pycache__
/rnn_interactive/common/__pycache__
/rnn/common/__pycache__
/rnn/common/__pycache__
rnn/common/__pycache__/mocap_tools.cpython-310.pyc
rnn/common/__pycache__/pose_renderer.cpython-310.pyc
rnn/common/__pycache__/quaternion.cpython-310.pyc
/rnn_interactive/common/__pycache__
/rnn_interactive_live_mocap/.spyproject
/rnn_interactive_live_mocap/__pycache__
/rnn_interactive_live_mocap/common/__pycache__
/rnn_interactive_pos/.spyproject
/rnn_interactive_pos/__pycache__
/rnn_interactive_pos/common/__pycache__
/rnn/common/__pycache__
/rnn_interactive/common/__pycache__
/rnn/results_Qualisys_Muriel_Polytopia
/rnn/results_Captury_Zach_Improvisation
/rnn/common/__pycache__
/fmtd/common/__pycache__
/rnn_interactive_live_mocap_v2/__pycache__
/rnn_interactive_live_mocap_v2/common/__pycache__
/td/common/__pycache__
/td/.spyproject
/rnn_interactive_live_mocap_v2/.spyproject
/td/results/anims
/td_interactive/.spyproject
/td_interactive/__pycache__
/td_interactive/common/__pycache__
/td/results_Stocos_EmbodiedMachine_TPConditioned
/td/results_Stocos_Qualisys_Fluidity_Fullbody
/td/results_Stocos_Qualisys_Levitation_Fullbody
/td/results_Stocos_Qualisys_Levitation_Fullbody_v2
/td/results_Stocos_Qualisys_Particles_Fullbody
/td/results_Stocos_Qualisys_Polytopia_Fullbody
/td/results_Stocos_Qualisys_Staccato_Fullbody
/td/results_Stocos_Qualisys_Staccato_Fullbody_v2
/td/results_Stocos_Qualisys_Thrusting_Fullbody
/td/results_Muriel_DoubleBind_Yolo_MB_realtime
/td/results_test_v5
/td_interactive_v2/.spyproject
/td_interactive_v2/__pycache__
/td_interactive_v2/common/__pycache__
/td_v2/common/__pycache__
/td_v2/results_Muriel_Take1_double_Bind_fbx
/td_v2/.spyproject
